<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<!-- 事务配置 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="excute*" propagation="REQUIRED" read-only="false" rollback-for="cn.newstrength.wtdf.web.exception.PAIException" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="opPointcut" expression="execution(public * cn.newstrength.wtdf.web.processor.Operation.excute*(..))" />
		<aop:advisor pointcut-ref="opPointcut" advice-ref="txAdvice" />
	</aop:config>			
</beans>  
