<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<bean id="md5" class="cn.newstrength.widm.filter.MD5Filter"/>
	<bean id="urldecoder" class="cn.newstrength.widm.filter.URLDecoderFilter"/>
	<bean id="dateTimeFilter" class="cn.newstrength.wcms.sysadmin.filter.DateTimeFilter"/>
	<bean id="extFieldFilter" class="cn.newstrength.wcms.sysadmin.filter.ExtFieldFilter"/>
	<bean id="actionFilter" class="cn.newstrength.wcms.sysadmin.filter.ActionFilter"/>
	<bean id="flowStatusFilter" class="cn.newstrength.wcms.sysadmin.filter.FlowStatusFilter"/>
	<bean id="mapperModeFilter" class="cn.newstrength.wcms.sysadmin.filter.MapperModeFilter"/>
	<bean id="contentPathFilter" class="cn.newstrength.wcms.sysadmin.filter.ContentPathFilter"/>

</beans>  
